<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Validation Vue.js</title>
</head>

<body>
    <div id="app">
        <form @submit.prevent="validate">
            <h1>Registro</h1>
            <input type="text" v-model.trim="name" placeholder="Nome" maxlength="30">
            <input type="text" v-model.trim="email" placeholder="E-mail" maxlength="50">
            <input type="text" v-model.trim="cpf" placeholder="CPF" maxlength="11">
            <input type="password" v-model="password" placeholder="Senha" maxlength="60">
            <input type="password" v-model="confirm" placeholder="Confirmar Senha" maxlength="60">
            <button type="submit">Salvar</button>
        </form>
        <div v-show="errors.length" class="messages" ref="messages">
            <ul>
                <li v-for="(error, i) in errors" :key="i">{{ error }}</li>
            </ul>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>